#This folder will be created on the 'dependencies' stage so no copying is required
node_modules
#This folder will be created on the 'build' stage so no copying is required
dist

#Folders and files are not required in production version
cdk.out
scripts
**/**/*.spec.ts
test
# .envfile shouldn't been copied to image even in local build
.env* 
.eslint.js
.pritierrc
Dockerfile
.dockerignore
.elasticbeanstalk
.ebextensions
README.md
# git related data is not required inside the image
.gitignore
.git